[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
tensorflow = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.9"
